.btnAddBasket {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);

  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-family: "Rubik-400";
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
}
.btnAddBasket:active {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: var(--main-primary, #f63);
  color: white;
  border: 1px solid var(--main-primary, #f63);
}
