e.secret-container {
}
.secretTitle {
}
.newProduct {
}
input,
select {
  width: 400px;
  height: 40px;
  margin: 10px 0px;
  padding: 5px 10px;
}

.addProductBtn {
  padding: 10px 20px;
  border: 1px solid rgba(112, 192, 91, 1);
  border-radius: 10px;
  background: transparent;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
}
.addProductBtn:hover {
  transform: scale(1.05);
}
